body{
    background-color: #07111d;
    background-image: url("/pictures/wallpaper_1.png");
    background-repeat: no-repeat;
}

.video{
    width: 600px;
    float: right;
}

.asd{
    margin-top:300px;
}

button{
    height: 100px;
    width: 300px;
    background-color: greenyellow;
    font-weight: bold;
    font-size: large;
    border-top-left-radius: 30px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 30px;
}

.row{
    margin-top: 400px;
}

